@charset "UTF-8";

html {
	color: #000;
	background: #FFF;
}

body {
	font-family: "微软雅黑", "Microsoft Yahei";
	background: #fff;
	color: #555;
}

body, button, input, select, textarea {
	font: 12px/1.5 "微软雅黑", "Microsoft Yahei", arial;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table /* 设置table 的样式*/ {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

em, strong {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	cursor: pointer;
}

th, td {
	vertical-align: top;
}

.containter {
	display: block;
	margin: 0 auto;
	width: 1200px;
}

.container-margin {
	margin-top: 20px;
}

.seller-containt {
	margin-top: 0;
	min-height: 650px;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10,
	.col11, .col12 {
	float: left;
	margin: 0 1% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last,
	.col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

.col1 {
	width: 5.5%;
}

.col2 {
	width: 14%;
}

.col3 {
	width: 22.5%;
}

.col4 {
	width: 31%;
}

.col5 {
	width: 39.5%;
}

.col6 {
	width: 48%;
}

.col7 {
	width: 56.5%;
}

.col8 {
	width: 65%;
}

.col9 {
	width: 73.5%;
}

.col10 {
	width: 82%;
}

.col11 {
	width: 90.5%;
}

.col12 {
	width: 99%;
	margin: 0;
}

@media ( max-width :1280px) {
	.containter {
		width: 1200px !important;
	}
}

@media ( max-width :1024px) {
	.containter {
		width: 990px !important;
	}
}